@import "../variables.scss";

.home-service-header {
  font-size: 20px !important;
  font-weight: 600 !important;
  text-align: center;
  color: $wl-text-color;
  font-family: $theme-font;
}

.home-service-section {
  background: #f2f3f5;
  padding: 5px;

  .home-service {
    text-align: center;
    background-color: $background-light;
    padding: 10px;
  }
  .home-service-title {
    font-size: 13px !important;
    font-weight: 600;
    text-align: center;
    color: $wl-primary-text-color !important;
    font-family: $theme-font;
  }
}

//  Trusted Airlines style

.trusted-airline-section {
  background: #f2f3f5;
  padding: 20px;

  .trusted-airline-title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #413755;
    font-family: "Outfit", sans-serif;

    span {
      color: #4f47e6;
    }
  }

  .trusted-airline-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px !important;
    transition: all 0.3s ease;
    cursor: pointer;
    background: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    &:hover {
      background: $background-light;
      transform: translateY(-5px);
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    }

    img {
      object-fit: contain;
      filter: brightness(95%);
    }

    p,
    .MuiTypography-root {
      margin-top: 0.5rem;
      font-family: $theme-font !important;
      font-size: 14px;
      font-weight: 500;
      color: $wl-primary-text-color !important;
    }
  }
}

// ----- world explore

.home-page-world-explore {
  color: $background-light !important;
  font-size: 40px;
  font-weight: 600;
  font-family: $theme-font !important;
}

.explore-btn {
  background-color: $background-light;
  color: $wl-text-color !important;
  font-family: $theme-font !important;
  border: none;
  padding: 10px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 5px;

  &:hover {
    background-color: $background-light;

    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: scale(0.98);
  }
}

.explore-icon {
  font-size: 20px !important;
  color: $wl-text-color !important;
}

// popular destination

.home-page-popular-destination-title {
  font-family: $theme-font;
  font-size: 25px !important;
  font-weight: 600;
  color: $wl-text-color;
  padding: 15px 0px;
}

.home-page-popular-destination-title-bold {
  color: $wl-secondary-text-color;
}

.popular-destination-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    // filter: brightness(95%);
    transform: scale(1);
    transition:
      transform 0.6s ease,
      filter 0.3s ease;
  }

  &:hover img {
    transform: scale(1.1);
    filter: brightness(85%);
  }

  .popular-destination-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: $background-light;
    z-index: 2;

    h4 {
      font-family: $theme-font;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 4px;
    }

    p {
      font-family: $theme-font;
      font-weight: 400;
      font-size: 14px;
      color: $background-light;
    }
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    z-index: 1;
  }
}
