$theme-color: #f1603f;
$theme-font: "Poppins", sans-serif;
$wl-body-background: #f5f7fa;
$wl-tab-background: #edeeef;
$background-light: #ffffff;
$wl-footer-bg-color: #072742;
$wl-nav-text-active-color: $theme-color;

$wl-primary-button-color: #072742;
$wl-primary-text-color: #072742;
$wl-secondary-button-color: #757f89;
$wl-secondary-text-color: #757f89;
$border-radius: 0px;
$form-border-radius: 2px;
$button-border-radius: 2px;

$wl-text-color: #222222;
$wl-label-color: #333333;
$wl-placeholder-color: #757f89;
$wl-border-color: #c7cacf;
$wl-danger-color: #ff4133;
$wl-success-color: #12a861;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
